<div class="container">
    <div class="row">
        <div class="col-md-2"></div>


        <div class="col-md-8">
            <h3 class="text-info text-center">Dashboard</h3><br>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-primary text-white text-center">
                            <h5>Today Call<br>{{call.length}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-primary text-white text-center">
                            <h5>Customer<br>{{customer.length}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-primary text-white text-center">
                            <h5>Vendors<br>{{vendor.length}}</h5>
                        </div>
                    </div>
                </div>
            </div><br><br>

            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-primary text-white text-center">
                            <h5>Products<br>{{product.length}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-primary text-white text-center">
                            <h5>In Billing<br>130</h5>
                        </div>
                    </div>
                </div> 
            </div>
        </div>


        <div class="col-md-2"></div>
    </div>
</div>